@charset "UTF-8";

.destinations__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.destinations__image-container{
    width: 100%;
    height: 360px;
}

.destinations__image-container-blog{
    height: 300px;
}

.destinations__image-container--tokyo{
    background: url(../assets/tokyo-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.destinations__image-container--osaka{
    background: url(../assets/osaka-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.destinations__image-container--hiroshima{
    background: url(../assets/blog/hiroshima-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.destinations__image-container--kyoto{
    background: url(../assets/blog/kyoto-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.destinations .content-title {
    padding-top: 24px;
}

.destinations .content-text {
    padding-bottom: 24px;
    text-align: justify;
}

@media screen and (min-width: 768px){
    .destinations__image-container {
        width: 100%;
        height: 452px;
    }

    .destinations__image-container-blog{
        height: 300px;
    }

    .destinations__image-container--tokyo{
        background: url(../assets/tokyo-tablet-desk.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .destinations__image-container--osaka{
        background: url(../assets/osaka-tablet-desk.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .destinations__image-container--hiroshima{
        background: url(../assets/blog/hiroshima-tablet.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .destinations__image-container--kyoto{
        background: url(../assets/blog/kyoto-tablet.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    
}

@media screen and (min-width: 1100px){

    .destinations__container {
        max-width: 1200px;
        flex-direction: row;
    }

}