@charset "UTF-8";

.site-header {
    background-color: var(--background-tertiary-color);
    padding: 38px 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.site-header__logo-container {
    display: inline-block;
}

.site-header__logo--mobile {
    display: block;
}

.site-header__logo--desktop {
    display: none;
}

.site-header__menu{
    display: none;
}

input[type="checkbox"]:checked ~ .site-header__menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

.site-header__menu-item {
    text-align: center;
    padding: 16px;
}

.site-header__menu-item a{
    text-decoration: none;
    color: var(--text-secondary-color);
    font-weight: var(--menu-weight);
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .site-header {
        padding: 38px 60px;
    }

    .site-header__menu-container {
        margin-top: 0;
    }

    .site-header__menu-container label{
        display: none;
    }

    .site-header__menu {
        display: block;
    }

    .site-header__menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 467px;
    }

    .site-header__menu-item {
        text-align: left;
        padding: 0;
    }

    .site-header__menu-item--active a{
        text-decoration: underline;
    }
}

@media screen and (min-width: 1024px) {
    .site-header {
        padding: 38px 120px;
    }

    .site-header__logo--mobile {
        display: none;
    }

    .site-header__logo--desktop {
        display: block;
    }

    .site-header__menu-item a:hover {
        color: var(--primary-color);
    }

}