@charset "UTF-8";

.hero {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}


.hero__image {
    width: 100%;
    height: 400px;
    padding: 65px 24px;
}

.hero__image-header{
    background: url(../assets/hero-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    margin-bottom: 88px;
}

.hero__image-header--packages{
    background: url(../assets/travel-packages/japan-bg-hero-tablet.png) no-repeat;
    background-size: cover;
    background-position: bottom right;
}

.hero__image-header--blog{
    background: url(../assets/blog/bg-hero-mobile.jpg) no-repeat;
    background-size: cover;
}

.hero__image-header--contact{
        background: url(../assets/contact/bg-hero-mobile.jpg) no-repeat;
        background-size: cover;
        background-position: center;
}

.hero__image-footer {
    background: url(../assets/bg-bottom-hero-mobile.png) no-repeat;
    background-size: cover;
    background-position: 50% 60%;
}

.hero__image-footer--packages {
    background: url(../assets/travel-packages/japan-bg-bottom-hero-mobile.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__image-footer--contact{
        background: url(../assets/contact/bg-bottom-mobile.jpg) no-repeat;
        background-size: cover;
        background-position: center;
}

.hero__title {
    font-size: 48px;
    line-height: 48px;
    font-weight: var(--title-weight);
    color: var(--text-secondary-color);
}

.hero__line {
    margin: 16px 0 0 0;
}

.hero__subtitle {
    color: var(--text-secondary-color);
}

.hero__text {
    font-family: var(--primary-font-family);
    font-weight: var(--text-weight);
    font-size: 20px;
    text-align: center;
    padding: 0px 24px 88px 24px;
    line-height: 1.5;
}

@media screen and (min-width:768px) {
    .hero__image {
        padding: 159px 95px;
    }

    .hero__image-header {
        height: 620px;
        background: url(../assets/hero-tablet.jpg) no-repeat;
        background-size: cover;
        background-position: 50% 30%;
    }

    .hero__image-header--packages{
        background: url(../assets/travel-packages/japan-bg-hero-tablet.png) no-repeat;
        background-size: cover;
        background-position: bottom right;
    }

    .hero__image-header--blog{
        background: url(../assets/blog/bg-hero-tablet.jpg) no-repeat;
        background-size: cover;
        background-position: center right;
    }

    .hero__image-header--contact{
        background: url(../assets/contact/bg-hero-tablet.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero__image-footer {
        height: 400px;
        background: url(../assets/bg-bottom-hero-tablet.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero__image-footer--packages {
        background: url(../assets/travel-packages/japan-bg-bottom-hero-tablet.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero__image-footer--contact{
        background: url(../assets/contact/bg-bottom-tablet.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero__text {
        font-size: 32px;
    }
}

@media screen and (min-width:1024px) {
    .hero__image {
        padding: 159px 120px;
    }

    .hero__image-header {
        background: url(../assets/hero-desktop.jpg) no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .hero__image-header--packages{
        background: url(../assets/travel-packages/japan-bg-hero-desktop.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero__image-header--blog{
        background: url(../assets/blog/bg-hero-desktop.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero__image-header--contact{
        background: url(../assets/contact/bg-hero-desktop.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero__image-footer {
        height: 600px;
        background: url(../assets/bg-bottom-hero-desktop.png) no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .hero__image-footer--packages {
        background: url(../assets/travel-packages/japan-bg-bottom-hero-desktop.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero__image-footer--contact{
        background: url(../assets/contact/bg-bottom-desktop.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero__content, .hero__text {
        max-width: 1200px;
        margin: auto;
    }

}
