@charset "UTF-8";

.offers__card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.offers__card {
    padding: 24px 16px;
    color: var(--text-secondary-color);
    width: 312px;
    height: 288px;
    border-radius: 16px;
    text-align: center;
}

.offers__card-header {
    display: block;
    background-color: transparent;
    padding: 0;
    position: static;
}

.offers__card-type {
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 32px;
}

.offers__card-destination {
    font-size: 40px;
    font-weight: var(--title-weight);
    line-height: 49px;
}

.offers__card-price {
    font-size: 32px;
    font-weight: var(--title-weight);
    margin: 24px 0;
    line-height: 39px;
}

.offers__card--japao {
    background: url(../assets/bg-card-japao.jpg) no-repeat;
    background-size: cover;
}

.offers__card--san-andreas {
    background: url(../assets/bg-card-san-andreas.jpg) no-repeat;
    background-size: cover;
}

.offers__card--paraiba {
    background: url(../assets/bg-card-paraiba.jpg) no-repeat;
    background-size: cover;
}

.offers__card--manaus {
    background: url(../assets/bg-card-manaus.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 700px) {
    .offers__card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        width: 650px;
        margin: auto;
    }
}

@media screen and (min-width: 1440px) {

    .offers__card-container {
        width: 100%;
    }

    .offers__card {
        padding: 24px 32px;
        width: 588px;
        height: 308px;
    }

    .offers__card-destination {
        font-size: 48px;
        line-height: 59px;
    }

    .offers__card-price {
        font-size: 40px;
        line-height: 49px;
    }
}



