@charset "UTF-8";

.payments__image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;
    margin-top: 24px;
}

.payments__image--first {
    background: url(../assets/gallery1-mobile.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.payments__image--second {
    background: url(../assets/gallery2-mobile.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.payments__image--third{
    background: url(../assets/gallery3-mobile.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    grid-column: span 2;
}

.payments__image--first-package {
    background: url(../assets/travel-packages/gallery1-mobile.png) no-repeat;
    background-size: cover;
    background-position: center left;
}

.payments__image--second-package {
    background: url(../assets/travel-packages/gallery2-mobile.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.payments__image--third-package{
    background: url(../assets/travel-packages/gallery3-mobile.png) no-repeat;
    background-size: cover;
    background-position: 40% 0%;
    grid-column: span 2;
}

.payments__price {
    font-size: 40px;
    font-weight: var(--title-weight);
    padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .payments__image--first {
    background: url(../assets/gallery1-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
    }

    .payments__image--second {
    background: url(../assets/gallery2-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
    }

    .payments__image--third{
    background: url(../assets/gallery3-tablet.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    }
}

@media screen and (min-width: 1440px) {
    
    .payments__container {
        display: flex;
        justify-content: space-between;
    }

    .payments__text {
        width: 360px;
    }
    
    .payments__image-container {
        width: 790px;
        margin-top: 0;
    }
}